.container-card {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
  height: 800px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  z-index: 22;
}
.container-card-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-card-text h1 {
  margin-left: 10px;
  color: white;
  font-family: "REM", sans-serif;
}
.btn-celect {
  display: flex;
  justify-content: center;
}
.btn-celect button {
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-top: 25px;
  width: 150px;
  height: 50px;
  border: 2px solid red;
  font-family: "REM", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
}
.btn-celect button:hover {
  color: red;
}
.cotainer-from-card {
  display: flex;
  justify-content: center;
  height: 255px;
}
.card-number {
  display: flex;
  flex-direction: column;
}
.card-number h3 {
  color: white;
  font-family: "REM", sans-serif;
}
.input-text-card-number {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.input-text-card-number input {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-family: "REM", sans-serif;
  font-size: 20px;
}
.card-name h3 {
  margin-top: 10px;
  color: white;
  font-family: "REM", sans-serif;
}
.card-name input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-family: "REM", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
.input-text-card-name {
  display: flex;
  gap: 20px;
}
.date-ccv {
  display: flex;
  justify-content: space-between;
}
.date h3 {
  margin-top: 10px;
  color: white;
  font-family: "REM", sans-serif;
}
.date input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-family: "REM", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
.ccv h3 {
  margin-top: 10px;
  color: white;
  font-family: "REM", sans-serif;
}
.ccv input {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-family: "REM", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 393px) {
  .container-card {
    width: 350px;
    height: 550px;
  }
  form {
    width: 320px;
  }
  .card-number h3 {
    font-size: 15px;
  }
  .input-text-card-number input {
    width: 50px;
    font-size: 15px;
  }
  .card-name h3 {
    font-size: 15px;
  }
  .card-name input {
    padding: 10px;
    width: 130px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-family: "REM", sans-serif;
    font-size: 15px;
    margin-top: 10px;
  }
  .date h3 {
    font-size: 15px;
  }
  .date input {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-family: "REM", sans-serif;
    font-size: 15px;
    margin-top: 10px;
  }
  .ccv h3 {
    font-size: 15px;
  }
  .ccv input {
    width: 50px;
    font-size: 15px;
    margin-right: 50px;
  }
  .btn-celect button {
    margin-top: 30px;
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
}
