.warp-container-payment {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 55%);
  width: 100%;
  max-width: 800px;
  height: 700px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  --glow-color: rgb(255, 99, 71);
  --glow-spread-color: rgba(255, 69, 58, 0.781);
  --enhanced-glow-color: rgb(255, 127, 80);
  --btn-color: rgb(0, 0, 0);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  transition: all 0.3s;
}
.payment-text {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.payment-text h1 {
  color: white;
  font-family: "REM", sans-serif;
}
.listCart-container {
  height: 550px;
  background-color: black;
}
.warp-listCart-container {
  height: 430px;
  background-color: #9e9e9e;
}
.select-card {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  background-color: #9e9e9e;
  height: 100px;
  margin-top: 20px;
}
.fa-cc-visa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
.select-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "REM", sans-serif;
  font-weight: bold;
}
.btn-payments {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn-payments button {
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-top: 25px;
  width: 150px;
  height: 50px;
  border: 2px solid red;
  font-family: "REM", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
}
.btn-payments button:hover {
  color: red;
}
.show-listCart {
  width: 100%;
  height: 380px;
  overflow-y: hidden;
}
.show-listCart:hover {
  overflow-y: auto;
}
.show-listPrice {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-listPrice p {
  margin: 0px 20px;
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.warp-show-listCart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 120px;
}
.warp-logoCart {
  width: 180px;
  height: 80px;
  margin-left: 20px;
}
.warp-show-listCart p {
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.warp-show-listCart > .fa-trash-can {
  margin-left: 150px;
}

@media (max-width: 393px) {
  .warp-container-payment {
    max-width: 250px;
    height: 500px;
  }
  .payment-text h1 {
    font-size: 18px;
  }
  .listCart-container {
    height: 365px;
  }
  .warp-listCart-container {
    height: 300px;
  }
  .show-listCart {
    height: 250px;
  }
  .warp-show-listCart {
    grid-template-columns: 100px 80px 50px;
    height: 80px;
  }
  .warp-logoCart {
    width: 80px;
    height: 40px;
    margin-left: 0px;
  }
  .warp-show-listCart p {
    font-size: 12px;
    margin-left: -15px;
  }
  .warp-show-listCart > .fa-trash-can {
    margin-left: 10px;
  }
  .show-listPrice p {
    font-size: 15px;
  }
  .select-card {
    height: 60px;
    margin-top: 10px;
    gap: 10px;
  }
  .fa-cc-visa {
    font-size: 35px;
    margin-left: 10px;
  }
  .select-card p {
    font-size: 10px;
  }
  .btn-payments button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.5s;
  }
}
