.container-signup {
  background-image: url("../image/wallpaper.jpg");
  height: 100vh;
  background-size: cover;
}
.warp-signup {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  width: 600px;
  height: 650px;
  border: 2px solid red;
  font-family: "REM", sans-serif;
  border-radius: 25px;
}
.warp-signup h1 {
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 64px;
}
.warp-signup h2 {
  color: white;
  font-size: 28px;
  text-shadow: 5px 5px 10px black;
  margin-top: 10px;
}
.warp-signup input {
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}
.btn-signup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-family: "REM", sans-serif;
  font-size: 24px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: black;
  border-radius: 10px;
}
.btn:hover {
  color: red;
}
