.dialogPromotion-container {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
  height: 800px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
}
.nav-dialogPromotion {
  display: flex;
  justify-content: end;
}
.warp-dialogPromotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 720px;
}
.warp-dialogPromotion h1 {
  color: white;
  font-size: 42px;
  font-family: "REM", sans-serif;
  text-shadow: 2px 2px 10px red;
}
.warp-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}
.fa-circle-left {
  position: absolute;
  left: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.fa-circle-left:hover {
  color: red;
}
.fa-circle-right {
  position: absolute;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.fa-circle-right:hover {
  color: red;
}
.slider {
  height: 500px;
  width: 780px;
  border-radius: 15px;
  transition: all 0.5s ease;
  opacity: 1;
}
.sliedr-hidden {
  display: block;
  opacity: 0;
  transition: all 0.5s ease;
  height: 0;
  width: 0;
}
.btn-promotion {
  position: fixed;
  top: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border: 2px solid red;
  border-radius: 25px;
  margin-top: 40px;
  cursor: pointer;
}
.btn-promotion h2 {
  color: white;
  font-family: "REM", sans-serif;
  transition: all 0.5s;
}
.btn-promotion h2:hover {
  color: red;
}
.indicators {
  display: flex;
  position: absolute;
  bottom: 140px;
  gap: 5px;
}
.indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  transition: all 0.5s ease;
}
.indicator-hidden {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.text-red {
  color: red;
  text-shadow: 2px 2px 10px black;
}
