.dialogGame-container {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
  height: 800px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
}
.dialogGame-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.dialogGame-nav h1 {
  color: white;
  font-family: "REM", sans-serif;
  margin-left: 20px;
}
.warp-image-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}
.fa-circle-left {
  position: absolute;
  left: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.fa-circle-left:hover {
  color: red;
}
.fa-circle-right {
  position: absolute;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.fa-circle-right:hover {
  color: red;
}
.slider {
  height: 500px;
  width: 780px;
  border-radius: 15px;
  transition: all 0.5s ease;
  opacity: 1;
}
.sliedr-hidden {
  display: block;
  opacity: 0;
  transition: all 0.5s ease;
  height: 0;
  width: 0;
}
.indicators-game {
  display: flex;
  position: absolute;
  bottom: 200px;
  gap: 5px;
}
.indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  transition: all 0.5s ease;
}
.indicator-hidden {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.price h2 {
  color: white;
  font-family: "REM", sans-serif;
  font-size: 32px;
}
.btn-dialogGame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.btn-add-game {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-add-game:hover {
  color: red;
}
.btn-buy-game {
  width: 100px;
  height: 50px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-buy-game:hover {
  color: red;
}
