.container-hompage {
  background-image: url("/public/assets/container.jpg");
  background-size: cover;
  height: 100vh;
}
.warp-container-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
}
.header h1 {
  color: white;
  font-family: "REM", sans-serif;
  font-size: 62px;
  text-align: center;
}
.container-table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 1500px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
}
.table-game {
  display: flex;
  width: 1450px;
  height: 550px;
  background-color: #9e9e9e;
}
.table {
  width: 1450px;
  height: 550px;
  overflow-y: hidden;
}
.table:hover {
  overflow-y: auto;
}

.gird-game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  height: 80px;
  justify-content: center;
  font-size: 25px;
  font-family: "REM", sans-serif;
  margin: 10px 0;
}
.imagegame img {
  height: 80px;
  width: 150px;
}
.imagegame {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.namegame {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pricegame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-buy p {
  width: 80px;
  height: 40px;
  border: 2px solid red;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  cursor: pointer;
}
.btn-buy p:hover {
  color: red;
}
.table-nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 1450px;
  margin: 10px;
}
.choise {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
.choise-open-world {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.choise-open-world:hover {
  color: red;
}
.choise-fps {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.choise-fps:hover {
  color: red;
}
.choise-survive {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.choise-survive:hover {
  color: red;
}
.choise-action {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.choise-action:hover {
  color: red;
}
.choise-moba {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  font-family: "REM", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.choise-moba:hover {
  color: red;
}
.table-nav-search {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-nav-search input {
  padding: 15px;
  width: 300px;
  border-radius: 25px;
  border: none;
}
