.container-login {
  background-image: url("/public/assets/wallpaper.jpg");
  height: 100vh;
  background-size: cover;
}
.warp-login {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 600px;
  height: 400px;
  border: 2px solid red;
  font-family: "REM", sans-serif;
  border-radius: 25px;
}
.warp-login h1 {
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 64px;
}
.warp-login h2 {
  color: white;
  font-size: 28px;
  text-shadow: 5px 5px 10px black;
  margin-top: 10px;
}
.warp-login p {
  color: red;
  margin-top: 5px;
}
.warp-login input {
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}
.btn-login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-family: "REM", sans-serif;
  font-size: 24px;
}
.btn-login button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-family: "REM", sans-serif;
  font-size: 24px;
  border: 2px solid red;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid red;
}
.btn:hover {
  color: red;
}

@media (max-width: 393px) {
  .warp-login {
    max-width: 350px;
  }
  .warp-login input {
    width: 92%;
  }
  .btn-login button {
    font-size: 22px;
    height: 50px;
    width: 100px;
  }
  .btn {
    height: 50px;
    width: 100px;
    font-size: 22px;
  }
}
