.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 15px;
  border-radius: 20px;
  background-color: #9e9e9e;
  border: 2px solid red;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 50px;
  text-align: center;
  margin-top: 25px;
}
.user h3 {
  font-family: "REM", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 25px;
}
.dropdown-menu ul {
  width: 150px;
  font-family: "REM", sans-serif;
}
.dropdown-menu li {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdown-menu p {
  margin-left: 25px;
  font-weight: bold;
  transition: all 0.5s;
}
.dropdown-menu p:hover {
  color: red;
}
.dropdown-menu .fa-solid {
  font-size: 30px;
}
.fa-id-badge {
  margin-left: 10px;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5;
  right: 15px;
  height: 10px;
  width: 20px;
  background-color: #9e9e9e;
  transform: rotate(45deg);
  z-index: -1;
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.5s ease;
}
.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20);
  transition: 0.5s ease;
}
.fa-right-from-bracket {
  margin-left: 5px;
}

@media (max-width: 393px) {
  .user h3 {
    font-size: 20px;
    width: 150px;
  }
  .dropdown-menu {
    width: 160px;
  }
  .fa-right-from-bracket {
    margin-left: 10px;
  }
  .fa-user {
    margin-left: 5px;
  }
  .dropdown-menu::before {
    right: 11px;
  }
}
