.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
}
.fa-steam {
  margin-left: 20px;
  font-size: 50px;
  color: #9e9e9e;
  cursor: pointer;
}
.fa-steam:hover {
  color: red;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
.fa-cart-shopping {
  font-size: 40px;
  color: #9e9e9e;
}
.fa-cart-shopping:hover {
  color: red;
}
.navbar-right img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar-right img:hover {
  border: 2px solid red;
}
