.warp-container-contact {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 55%);
  width: 100%;
  max-width: 900px;
  height: 700px;
  background-color: black;
  border: 2px solid red;
  border-radius: 25px;
  --glow-color: rgb(255, 99, 71);
  --glow-spread-color: rgba(255, 69, 58, 0.781);
  --enhanced-glow-color: rgb(255, 127, 80);
  --btn-color: rgb(0, 0, 0);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  transition: all 0.3s;
}
.navbar-contact {
  margin: 20px;
  text-align: center;
}
.navbar-contact h1 {
  color: white;
  font-size: 42px;
  font-family: "REM", sans-serif;
}
.send {
  display: flex;
  flex-direction: column;
  font-family: "REM", sans-serif;
}
.send-name {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.send-name input {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid red;
  background-color: #9e9e9e;
  margin-left: 10px;
  font-size: 20px;
}
.send-name p {
  color: white;
  font-size: 32px;
  margin-left: 20px;
}
.send textarea {
  height: 400px;
  background-color: #9e9e9e;
  border: 2px solid red;
  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
  padding: 10px;
}
.btn-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-contact button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid red;
  font-family: "REM", sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s;
}
.btn-contact button:hover {
  color: red;
}

@media (max-width: 393px) {
  .warp-container-contact {
    width: 250px;
    height: 500px;
  }
  .navbar-contact h1 {
    font-size: 30px;
  }
  .send {
    width: 300px;
    height: 350px;
    margin-left: -25px;
  }
  .send-name input {
    width: 175px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid red;
    background-color: #9e9e9e;
    margin-left: 10px;
    font-size: 15px;
  }
  .send-name p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
  }
  .send textarea {
    height: 250px;
    font-size: 15px;
  }
  .btn-contact button {
    color: white;
    font-size: 15px;
    height: 40px;
    width: 80px;
  }
}
